*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

section
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('https://pixabay.com/get/gcc80c666331612e62383be5f24b294ad8c1976ff2f35435e570292fca74646cb1d111a1e3b5a69021ebfb1160494f815_1920.jpg');
    background-size: cover;
    background-position: center;
}

.msg
{
   color: aliceblue; 
   position: relative;
}